@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  scrollbar-color: auto;
  scrollbar-width: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: var(--main-bg-cl);
  color: var(--main-text-cl);
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0;
  position: relative;
  overflow-x: hidden;
}

::selection {
  background: #e03c31;
  color: #fcfaf1;
}
