@mixin mid($flex: true) {
  @if $flex == false {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  } @else {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin image-position(
  $width-px,
  $width-vw,
  $aspect-h,
  $aspect-w,
  $z-index,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $transform: none
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
  width: max(#{$width-px}px, #{$width-vw}vw);
  transform: $transform;

  picture {
    padding-bottom: calc($aspect-h / $aspect-w * 100%);
  }
}

@mixin overtext($lines) {
  display: -webkit-inline-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin customscroll($width: 5px, $bgTrack: #000, $bgThumb: #ddd) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background: $bgTrack;
  }
  &::-webkit-scrollbar-thumb {
    background: $bgThumb;
  }
}

@mixin maxW($args: 1023px) {
  @media only screen and (max-width: $args) {
    @content;
  }
}

@mixin minW($args: 1024px) {
  @media only screen and (min-width: $args) {
    @content;
  }
}
