@use '@/styles/imports/mixins' as *;

.fs {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.9px;

  @include maxW {
    font-size: 1.2rem;
    line-height: 1.55;
    letter-spacing: 0.6px;
  }
}

.u-hovertxt {
  display: inline;
  padding: 1px 1px 0 2px;
  margin: -1px -1px 0 -2px;
  transition: 0.2s ease-in-out;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  &:hover {
    background: var(--orange-cl);
    color: var(--white-cl);
  }
}

img.lazy {
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
