@use '@/styles/imports/mixins' as *;

.fs {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.9px;
}

.u-hovertxt {
  display: inline;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background: var(--orange-cl);
    color: var(--white-cl);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

img.lazy {
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
