:root {
  --app-height: 100vh;
  --menu-height: 100vh;

  --main-fonts: 'Overpass Mono', ui-monospace, monospace;
  --swiss-fonts: 'swiss-721-bt', sans-serif;
  --noto-fonts: 'Noto Sans JP', system-ui, sans-serif;
  --m-plus-fonts: 'M PLUS 1p', sans-serif;

  --main-bg-cl: #fcfaf1;
  --main-text-cl: #e03c31;
  --orange-cl: #e03c31;
  --white-cl: #fcfaf1;
}
