@use '@/styles/imports/mixins' as *;

.container {
  background: var(--orange-cl);
  color: var(--white-cl);
  padding: 40px;

  .desc {
    width: 59.722vw;
    line-height: 1.62;
    letter-spacing: 0.62px;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include maxW {
    padding: 25px 22px 0;

    display: flex;
    flex-direction: column;

    .desc {
      width: 100%;
      padding-right: 33px;
      line-height: 1.58;
      letter-spacing: 0.5px;
    }

    .circle {
      position: unset;
      transform: none;

      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      // top: auto;
      // bottom: 77px;
      // transform: translateX(-50%);

      svg {
        display: block;
        width: 61.014vw;
        height: auto;
        margin-bottom: 15px;
      }
    }
  }
}
