@use '@/styles/imports/mixins' as *;

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;

  p {
    font-family: var(--swiss-fonts);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizeLegibility;
    transform: translateZ(0);
  }

  @include maxW {
    gap: 24px;

    p {
      font-size: 1.7rem;
      letter-spacing: 0.7px;
    }
  }
}
