@use '@/styles/imports/mixins' as *;

.container {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    pointer-events: none;

    > div {
      width: 100%;
      height: 100%;
    }

    @include maxW {
      width: 188%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -52%);
    }
  }

  .bottom {
    position: absolute;
    bottom: 32px;
    left: 36px;
    z-index: 1;
    text-align: left;
    white-space: nowrap;

    .icon {
      display: flex;
      font-size: 2rem;
      line-height: 1.35;
      margin-bottom: 17px;

      p {
        &:nth-of-type(1) {
          margin-right: 6px;
        }

        &:nth-of-type(2) {
          margin-right: 3px;
        }

        &:nth-of-type(3) {
          margin-right: 4px;
        }
      }
    }

    .address {
      // margin-left: 4px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      a {
        width: fit-content;
      }
    }

    @include maxW {
      bottom: 18px;
      left: 21px;

      .icon {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }

      .address {
        // margin-left: 1px;
        gap: 8px
      }
    }
  }
}
