@use '@/styles/imports/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  .imgList {
    picture {
      display: block;
      position: relative;
      height: auto;
      z-index: 1;
      overflow: hidden;
      background: var(--orange-cl);
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .step1 {
      div:nth-of-type(1) {
        @include image-position(170, 11.806, 228, 170, 1, $bottom: 105px, $left: 40px);
      }

      div:nth-of-type(2) {
        @include image-position(361.26, 25.088, 541.95, 361.26, 1, $top: 0, $left: 29.678%);
      }

      div:nth-of-type(3) {
        @include image-position(248, 17.222, 328, 248, 1, $bottom: 40px, $right: 40px);
      }
    }

    .step2 {
      div:nth-of-type(1) {
        @include image-position(295, 20.486, 197, 295, 2, $top: 164px, $left: 184px);
      }

      div:nth-of-type(2) {
        @include image-position(154, 10.694, 209, 154, 2, $bottom: 0, $left: 52.708%);
      }

      div:nth-of-type(3) {
        @include image-position(186, 12.917, 241, 186, 2, $top: 40px, $right: 156px);
      }
    }

    .step3 {
      div:nth-of-type(1) {
        @include image-position(168, 11.667, 221, 168, 3, $top: 40px, $left: 80px);
      }

      div:nth-of-type(2) {
        @include image-position(286, 19.861, 381, 286, 3, $bottom: 0, $left: 20.486%);
      }

      div:nth-of-type(3) {
        @include image-position(326, 22.639, 431, 326, 3, $top: 50%, $right: 15.833%, $transform: translateY(-50%));
      }
    }

    @include maxW {
      .step1 {
        div:nth-of-type(1) {
          @include image-position(102, 24.638, 137, 102, 1, $bottom: 35px, $right: 22px);
        }

        div:nth-of-type(2) {
          @include image-position(176, 42.512, 264.53, 176, 1, $top: 0, $right: 74px);
        }

        div:nth-of-type(3) {
          @include image-position(123, 29.71, 163, 123, 1, $bottom: 169px, $left: 0);
        }
      }

      .step2 {
        div:nth-of-type(1) {
          @include image-position(157, 37.923, 105, 157, 2, $top: 52%, $right: 0, $transform: translateY(-50%));
        }

        div:nth-of-type(2) {
          @include image-position(150, 36.232, 203, 150, 2, $bottom: 0, $left: 81px);
        }

        div:nth-of-type(3) {
          @include image-position(167, 40.338, 215, 167, 2, $top: 73px, $left: 15px);
        }
      }

      .step3 {
        div:nth-of-type(1) {
          @include image-position(157, 37.923, 206, 157, 3, $bottom: 116px, $right: 35px);
        }

        div:nth-of-type(2) {
          @include image-position(96, 23.188, 129, 96, 3, $top: 24.615%, $right: 15px);
        }

        div:nth-of-type(3) {
          @include image-position(154, 37.198, 202, 154, 3, $top: 45%, $left: 0, $transform: translateY(-50%));
        }
      }
    }
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
  }

  .bottom {
    position: absolute;
    bottom: 32px;
    left: 40px;
    z-index: 9;

    p {
      cursor: pointer;
    }

    @include maxW {
      bottom: 18px;
      left: 17px;
    }
  }
}
