@use '@/styles/imports/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  .imgList {
    picture {
      display: block;
      position: relative;
      height: auto;
      z-index: 1;
      overflow: hidden;
      background: var(--orange-cl);
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .step1 {
      div:nth-of-type(1) {
        @include image-position(170, 11.806, 228, 170, 1, $bottom: 105px, $left: 40px);
      }

      div:nth-of-type(2) {
        @include image-position(361.26, 25.088, 541.95, 361.26, 1, $top: 0, $left: 29.678%);
      }

      div:nth-of-type(3) {
        @include image-position(248, 17.222, 328, 248, 1, $bottom: 40px, $right: 40px);
      }
    }

    .step2 {
      div:nth-of-type(1) {
        @include image-position(295, 20.486, 197, 295, 2, $top: 164px, $left: 184px);
      }

      div:nth-of-type(2) {
        @include image-position(154, 10.694, 209, 154, 2, $bottom: 0, $left: 52.708%);
      }

      div:nth-of-type(3) {
        @include image-position(186, 12.917, 241, 186, 2, $top: 40px, $right: 156px);
      }
    }

    .step3 {
      div:nth-of-type(1) {
        @include image-position(168, 11.667, 221, 168, 3, $top: 40px, $left: 80px);
      }

      div:nth-of-type(2) {
        @include image-position(286, 19.861, 381, 286, 3, $bottom: 0, $left: 20.486%);
      }

      div:nth-of-type(3) {
        @include image-position(326, 22.639, 431, 326, 3, $top: 50%, $right: 15.833%, $transform: translateY(-50%));
      }
    }
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
  }

  .marqueeWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .marquee {
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: relative;

    p {
      font-family: var(--swiss-fonts);
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: center;
      text-rendering: optimizeLegibility;
      transform: translateZ(0);
    }
  }

  .marqueeContent {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    position: absolute;
    bottom: 32px;
    left: 40px;
    z-index: 1;

    p {
      cursor: pointer;
    }
  }
}
