@use '@/styles/imports/mixins' as *;

.container {
  background-image: var(--bg-desktop);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white-cl);

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
  }

  @include maxW {
    background-image: var(--bg-mobile);

    .bottom {
      bottom: 18px;
    }
  }
}
