@use '@/styles/imports/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  .carousel {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .carouselContainer {
    width: 100%;
    position: relative;
  }

  .carouselWrapper {
    display: flex;
    gap: 40px;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .carouselSlide {
    position: relative;
    flex-shrink: 0;
    cursor: w-resize;
    user-select: none;
    width: max(300px, 20.833vw);
    height: auto;
    contain: layout style paint;

    h2 {
      opacity: 0;
      margin-top: 10px;
      text-align: center;
      transition: opacity 0.15s ease-in-out;
    }

    &:hover {
      img {
        transform: rotate(15deg);
      }

      h2 {
        opacity: 1;
      }
    }

    picture {
      display: block;
      position: relative;
      height: auto;
      z-index: 1;
      overflow: hidden;
      background: var(--white-cl);
      padding-bottom: calc(400 / 300 * 100%);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        transform-origin: center;
        mix-blend-mode: multiply;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.65;
    letter-spacing: 0.9px;
  }
}
