@use '@/styles/imports/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  .carousel {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .carouselContainer {
    width: 100%;
    position: relative;
  }

  .carouselWrapper {
    display: flex;
    gap: 0;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;

    @include maxW {
      gap: 0;
    }
  }

  .carouselSlide {
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    width: max(360px, 25vw);
    height: auto;
    contain: layout style paint;

    h2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;

      white-space: pre-line;
      opacity: 0;
      margin-top: 10px;
      text-align: center;
      transition: opacity 0.15s ease-in-out;
    }

    picture {
      display: block;
      position: relative;
      height: auto;
      z-index: 1;
      overflow: hidden;
      background: var(--white-cl);
      padding-bottom: calc(480 / 360 * 100%);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        transform-origin: center;
        mix-blend-mode: multiply;
        transition: transform 0.15s ease-in-out;
      }
    }

    @include minW {
      &:hover {
        img {
          transform: rotate(15deg);
        }

        h2 {
          opacity: 1;
        }
      }
    }

    @include maxW {
      // width: max(210px, 50.725vw);

      h2 {
        display: none;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include maxW {
      bottom: 18px;
    }
  }
}
