@use '@/styles/imports/mixins' as *;

.container {
  height: 100vh;
  position: relative;
  touch-action: none;

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
