@use '@/styles/imports/mixins' as *;

.container {
  background-image: var(--bg-desktop);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
  }

  @include minW {
    .bottom {
      a {
        background: var(--orange-cl);
        color: var(--white-cl);
      }
    }
  }

  @include maxW {
    background-image: var(--bg-mobile);

    .bottom {
      bottom: 18px;
    }
  }
}
